:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #2196F3;
    --accent-color: #2F303A;
    --accent-color-secondary: #F5F5F5;
    --accent-color-logo: #000000;
    --accent-color-link: #212121;
    --accen-color-proj-dir: #757575;
    --accent-colpr-btn-nav: #F5F4FA;
    --accent-color-contacts: rgba(255, 255, 255, 0.6);
    --accent-color-box-background: rgba(0, 0, 0, 0.15);
    --accent-color-boxshadov-btn-nav1: rgba(0, 0, 0, 0.1);
    --accent-color-boxshadov-btn-nav2: rgba(0, 0, 0, 0.08);
    --accent-color-boxshadov-btn-nav3: rgba(0, 0, 0, 0.12);
    --accent-color-boxshadov-btn-nav4: rgba(0, 0, 0, 0.14);
    --accent-color-boxshadov-btn-nav5: rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
body {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-text-color-theme-dark);
}
/* ==Header */
.main-header {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.link-header {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-logo);
}
.link {
    font-weight: 500;
    text-decoration: none;
    color: var(--accent-color-link);
}
.logo-blue {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}
.link-list .item +.item {
    margin-left: 50px;
}
.link-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-list {
    display: flex;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color-link);

    margin-left: 93px;
}

.link-list .link:hover,
.link-list .link:focus {
    color: var(--primary-text-color-theme-light);
}
.mailtel {  
      margin-left: auto;
   }
.tel {

    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accen-color-proj-dir);
}
.mail {
    color: var(--accen-color-proj-dir);
}

.mail:hover,
.mail:focus {
    color: var(--primary-text-color-theme-light);
}
.contacts .item+.item {
    margin-left: 50px;
}

.contacts {
    display: flex;
}
.tel:hover,
.tel:focus {
    color: var(--primary-text-color-theme-light);
}
.active {
    color: var(--primary-text-color-theme-light);
}
.btn-main:hover,
.btn-main:active {
    background: var(--primary-text-color-theme-light);
    box-shadow: 0px 4px 4px var(--accent-color-box-background);
    border-radius: 4px;
}
/* ------Main--- */

.hero {
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    display: flex;
    background: var(--accent-color);
    text-align: center;

}
.hero-title {
    font-family: var(--primary-font);
    font-size: 44px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);

}
.btn-main {
    margin-bottom: 94px;
    background: var(--primary-text-color-theme-light);
    box-shadow: 0px 4px 4px var(--accent-color-box-background);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-dark);
}
.specialists {
    display: flex;
    margin-bottom: 94px;
}
.specialists .item+.item {
    margin-left: 30px;
}
.titles {
    padding-bottom: 10px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-link);

}
.description {
    margin-bottom: 94px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accen-color-proj-dir);

}
.proceedings {
    text-align: center;
    margin-bottom: 89px;
}
.work {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color-link);

}
.photo {
    display: flex;
}

.photo .item+.item {
    margin-left: 30px;
}
.team {
    margin-bottom: 5px;
    text-align: center;
}
.our-team {
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(---accent-color-link);

}
.workers-name {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--accent-color-link);
}
.team-list {
    display: flex;
}

.team-list .boxcolor+.boxcolor {
    margin-left: 30px;
    background-color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 1px 3px var(--accent-color-boxshadov-btn-nav3), 0px 1px 1px var(--accent-color-boxshadov-btn-nav4), 0px 2px 1px rgba(0, 0, 0, 0.2)var(--accent-color-boxshadov-btn-nav5);
    border-radius: 0px 0px 4px 4px;
}
.boxcolor {
    padding-bottom: 30px;

}
.job-title {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--accen-color-proj-dir);
}

/* ===Footer---- */

.addres-list {
    padding-top: 20px;
    font-style: normal;
}
.info {
    padding-bottom: 9px;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer {
    padding-top: 65px;
    padding-bottom: 60px;
    background: var(--accent-color);

}

.footerlink {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);

}

.location {
    padding-bottom: 9px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);


    text-decoration: none;
}

.location:hover,
.location:focus {
    color: var(--primary-text-color-theme-light);
}

.contacts-mail-tel {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-contacts);

    text-decoration: none;
}

.contacts-mail-tel:hover,
.contacts-mail-tel:focus {
    color: var(--primary-text-color-theme-light);
}


/*==================== Portfolio ====================*/



.btn-navigation {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    width: 130px;
    height: 38px;
    background: var(--accent-colpr-btn-nav);
    border-radius: 4px;
}

.btn-navigation:hover,
.btn-navigation:active,
.btn-navigation:focus {

    color: var(--primary-text-color-theme-dark);
    background: var(--primary-text-color-theme-light);
    box-shadow: 0px 3px 1px var(--accent-color-boxshadov-btn-nav1), 0px 1px 2px var(--accent-color-boxshadov-btn-nav2), 0px 2px 2px var(--accent-color-boxshadov-btn-nav3);
    border-radius: 4px;
}


.titles-of-the-projects {
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--accent-color-link);

}

.projects-description {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--accen-color-proj-dir);
}

